.addition{
  margin: 8px;
}

table{
  border:1px solid #888888;
  border-collapse: collapse;
}

thead{
  background-color: #989898;
}

td,
th {
  border:1px solid black; 
  padding:10px;
}

th{
  text-align: left;
}

tr:nth-child(even){
  background-color: #f0f0f0;
}
