header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
  text-align: center;
}

.module_pages{
  display: block;
  margin: 0 auto;
  /* justify-content: center; */
}

.module_pages button{
  display: inline-block;
  /* border: 8px; */
  margin: 3px;
}

.login_logout{

}

button{
  padding: 3px 6px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background-color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover{
  background-color: black;
  color: white;
}

button.delete:hover{
  background-color: red;
  color: white;
}

.update,
.delete{
  margin: 2px 6px;
}

h1{
  text-align: center;
}

.addition{
  display: flex;
  position: relative;
  margin:auto;
  /* margin-left: auto; 有問題 */
  margin-bottom: 10px;
  /* float: right; */
}

.main{
  display: flex;
  flex-direction: column;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

table{
  border-collapse: collapse;
  margin: auto;
}

thead{
  background-color: #04AA6D;
  color: white;
}

th{
  text-align: left;
}

td,
th {
  border-bottom:1px solid #888888;  /* 只有列分隔線 */
  /* border:1px solid black;  */ 
  padding:10px;
}

tbody tr:hover{
  background-color: #ddd;
}

/* 第一行黑底白字 */
/* th:nth-child(1){ 
  background-color: black;
  color: white;
} */

tr:nth-child(even){
  background-color: #f0f0f0;
}

.pages{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.pages a{
  margin: 4px;
}

/* .pages a:hover{
  color: blueviolet;
} */
